# Dependencies
backend/vendor/
frontend/node_modules/

# Environment and Tokens
backend/.env
backend/storage/gmail_token.json
frontend/.env

# OS Files
.DS_Store
Thumbs.db
.vscode/

# Build outputs
frontend/build/
backend/public/build/
backend/public/hot/
backend/public/storage/
